header {
    background-color: #800000; 
    color: white; 
    padding: 15px; 
    position: fixed; 
    width: 100%; 
    z-index: 20; /* Z-index agar tetap di atas tab */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.tab-container {
    margin-top: 100px; 
    position: relative;
    z-index: 10; /* Pastikan z-index lebih tinggi */
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6; /* undr line tab */
}

.nav-tabs .nav-link {
    border: none; 
    border-radius: 0; 
    color: #800000; 
    padding: 10px 20px; 
    font-weight: 500; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav-tabs .nav-link.active {
    background-color: #800000; 
    color: white; 
}

.nav-tabs .nav-link:hover {
    background-color: rgba(128, 0, 0, 0.1); 
    color: #800000; 
}
